html *
{
   color: #000 !important;
   font-family: Arial !important;
}

button
{
    min-width: 100px;
    margin: 5px;
}

.container
{
    padding: 1%;
    display: grid;
    grid-template-columns: auto auto;
}

.content
{
    padding: 5%;
}

.sensor
{
    border-style: groove;
    margin: 5px;
}

.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}

.box.over {
    border: 3px dotted #666;
}

[draggable] {
    user-select: none;
}